<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>About In Tunisia</h3>

                    <div class="about-the-store">
                        <p>In Tunisia offers you an authentique experience to experience all the amazing aspects of Tunisia.</p>

                        <ul class="footer-contact-info">
                            <li><i class='bx bx-map'></i> <a href="#" target="_blank">4 Rue Essaada Lac Tunis</a></li>
                            <li><i class='bx bx-phone-call'></i> <a href="tel:++216 90 618 127">+216 90 618 127</a></li>
                            <li><i class='bx bx-envelope'></i> <a href="mailto:contact@intunisia.tn">Contact@intunisia.tn</a></li>
                        </ul>
                    </div>

                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-pinterest-alt'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-4">
                    <h3>Quick Links</h3>

                    <ul class="quick-links">
                        <li><a routerLink="/about">About Us</a></li>
                        <li><a routerLink="/listing-one">Listing</a></li>
                        <li><a routerLink="/contact">Contact Us</a></li>
                        <li><a routerLink="/register">Register</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Customer Support</h3>

                    <ul class="customer-support">
                        <li><a routerLink="/login">My Account</a></li>
                        <li><a routerLink="/checkout">Checkout</a></li>
                        <li><a routerLink="/cart">Cart</a></li>
                        <li><a routerLink="/register">Register</a></li>
                        <li><a routerLink="/contact">Help & Support</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Newsletter</h3>

                    <div class="footer-newsletter-box">
                        <p>To get the latest news and latest updates from us.</p>

                        <form class="newsletter-form" data-toggle="validator">
                            <label>Your E-mail Address:</label>
                            <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</footer>

<div class="go-top"><i class='bx bx-chevron-up'></i></div>

<div class="modal right fade shoppingCartModal" id="shoppingCartModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class='bx bx-x'></i></span>
            </button>

            <div class="modal-body">
                <h3>My Cart {{nbproducts}}</h3>

                <div class="products-cart-content">
                    <div *ngFor="let cartItem of cartProducts" class="products-cart">
                        <div class="products-image">
                            <a routerLink="/"><img src="https://micoedward.com/wp-content/uploads/2018/04/Love-your-product.png" alt="image"></a>
                        </div>

                        <div class="products-content">
                            <h3><a routerLink="/">{{cartItem.ref_prod}}</a></h3>
                            <div class="products-price">
                                {{cartItem.prix}}
                            </div>
                            <a class="remove-btn" >
                            <i
                            mwlConfirmationPopover
                            [popoverTitle]="popoverTitle"
                            [popoverMessage]="popoverMessage"
                            placement="bottom"
                            (confirm)="removeCartProduct(cartItem)"
                            (cancel)="cancelClicked = true"
                        >
                            Delete
                        </i> </a>
                        </div>
                    </div>

                </div>

<br><br>
                <div class="products-cart-btn">
                    <a routerLink="/cart" class="default-btn">View Bag & Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
