<section class="process-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Congratulations You're Our Best Customer</span>
            <br>
            <img src="https://i.pinimg.com/originals/48/20/6d/48206d448f405f11480e71e840445872.gif">
            <br>
            <br>
            <br><br>


            <h2>He're what's going to happen</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-process-box">
                    <div class="icon">
                        <i class="flaticon-tap"></i>
                    </div>
                    <div class="content">
                        <h3>Order Comfirmation</h3>
                        <p>You will be contacted by our sales rep in a couple of hours in order to discust the details.</p>
                        <div class="number">1</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-process-box">
                    <div class="icon">
                        <i class="flaticon-find"></i>
                    </div>
                    <div class="content">
                        <h3>Oder Shipped</h3>
                        <p>Your order will be treated as soon as possible by our stock center and shipped to you in no time.</p>
                        <div class="number">2</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-process-box">
                    <div class="icon">
                        <i class="flaticon-explore"></i>
                    </div>
                    <div class="content">
                        <h3>Enjoy Tunisian Products</h3>
                        <p>Enjoy the Tunisian products to the fullest as it's a beatiful country which has a lot to offer.</p>
                        <div class="number">3</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="process-arrow-icon">
                    <img src="assets/img/arrow.png" alt="image">
                </div>
            </div>
        </div>
    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
