<app-header-one></app-header-one>

<div class="home-area">
    <div class="home-slides owl-carousel owl-theme">
        <div class="hero-banner banner-bg2"></div>
        <div class="hero-banner banner-bg3"></div>
        <div class="hero-banner banner-bg4"></div>
    </div>

    <div class="main-banner-content">
        <h1><span>Discover</span> Our amazing hunting grounds! </h1>

        
    </div>
</div>

<section class="listing-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Discover</span>
            <h2>The Latest Gear</h2>
        </div>
    </div>

    
</section>

<section class="listing-categories-area bg-F7F9FB pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div *ngFor="let c of category" class="col-lg-3 col-sm-6 col-md-4" >
                <div class="single-listing-category">
                    <a [routerLink]="['/product-bycategory',c.id]" >
                        <img src='{{c.image}}'>
                        {{c.name}}
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="destinations-area pt-100 pb-70">
    
</section>

<section class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Recent Complaints</span>
            <h2>From Hunt Kingdom</h2>
        </div>

        <div class="row">
            <div *ngFor="let blog of homeblogs" class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/blog-details-one">
                            <img src="{{blog.image}}" alt="image">
                        </a>
                    </div>

                    <div class="post-content">
                        <span class="category">{{blog.date_publication | date}}</span>
                        <h3><a routerLink="/blog-details-one">{{blog.titre}}</a></h3>
                        <a routerLink="/blog-details-one" class="details-btn">Read more..</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
