<app-header-one></app-header-one>

<div class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h2>Contact Us</h2>
        </div>
    </div>
</div>

<section class="contact-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="contact-info">
                    <h3>Here to Help</h3>
                    <p>Have a question? You may find an answer in our <a routerLink="/faqs">FAQs</a>. But you can also contact us.</p>

                    

                    <h3>Opening Hours:</h3>
                    <ul class="opening-hours">
                        <li><span>Monday:</span> 8AM - 6PM</li>
                        <li><span>Tuesday:</span> 8AM - 6PM</li>
                        <li><span>Wednesday:</span> 8AM - 6PM</li>
                        <li><span>Thursday - Friday:</span> 8AM - 5PM</li>
                        <li><span>Sunday:</span> Closed</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="contact-form">
                    <h3>Drop Us A Line</h3>
                    <p>We're happy to answer any questions you have or provide you with an estimate. Just send us a message in the form below with any questions you may have.</p>

                   <!-- <form >
                        <div class="form-group"> <input name="titre"  type="text" class="form-control" [(ngModel)]="user.name"></div>
                        <div class="form-group"><input name="date_publication"type="text" class="form-control" [(ngModel)]="user.lastname"></div>
                        <div class="form-group"> <input name="description"type="text" class="form-control" [(ngModel)]="user.email"></div>
                        <div class="form-group"> <input name="image"type="text" class="form-control" [(ngModel)]="user.adresse"></div>
                        <div class="form-group"> <input name="contenu"type="text" class="form-control" [(ngModel)]="user.password"></div>
                        <div class="form-group"> <button class="btn-success"(click)="onSubmit()">Save</button></div>
                    </form>
                    -->

                </div>
            </div>
        </div>
    </div>
</section>


